.cuerpo{
    background-color: lightsteelblue;
    padding: 2rem;
    margin:2rem;
}
a{
    font-family: Arial;
    font-weight: bolder;
    color: grey;
}

body{
    font-family: Arial;
}
header{
    justify-content: center;
    align-items: center;
}
footer{
    color: white;
    font-family: Arial;
    font-size: 0.5rem;
    background-color: rgb(10, 10, 10);
    margin:0;
    padding: 1rem;
}
img{
    width: 150px;
    height: 100px;
    margin: 1rem;
}
iframe{
    width: 150px;
    height: 100px;
    margin: 1rem;
}

@media (max-width: 600px) { 
    .cuerpo{
        display:flex;
        justify-content: center;
        align-items: center;
    
    }
    }
    
    @media (min-width: 600px) { 
        .cuerpo{
            display:grid;
            justify-content: center;
            align-items: center;
        
        }
    }
