.cuerpo{
    background-color: rgb(212, 213, 214);
    padding: 2rem;
    
}
a{
    font-family: Arial;
    font-weight: bolder;
    color: grey;
}
body{
    font-family: Arial;
    display:flexbox;
    justify-content:center;
    align-items: center;
   
}
header{
    Font:Arial;
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    display:flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer{
    color: white;
    font-family: Arial;
    font-size: 0.5rem;
    background-color: rgb(10, 10, 10);
    margin:0;
    padding: 1rem;
}



@media (max-width: 600px) { 
    
    .cuerpo{
        width: 33%;
        display:flexbox;
        justify-content:space-around;
        align-items: center;
        text-align: center;
    }
   
    img{
        width: 150px;
        height: 100px;
        
    }
    iframe{
        width: 150px;
        height: 100px;
       
    }
    }
    
    @media (min-width: 600px) { 
        .cuerpo{   
            width: 50%;
        
        }
     
        img{
            width: 250px;
            height: 200px;
           
        }
        iframe{
            width: 250px;
            height: 200px;
            
        }
    }
